/* qualities section */

.qualities {
  background: url(/images/bg.png) center center / cover no-repeat;
  
  .container {
    @include mix-flex ($jc: center);
    flex-direction: column;
    justify-content: center;
  }

  &-main {
    @include mix-flex ($jc: space-around, $ai: baseline);

    @include tablets {
      flex-direction: column;
      text-align: left;
    }
  }
}

.qualities__title {
    margin-bottom: rem(60px);
}