/* team section */ 

.team {
  display: flex;
  justify-content: flex-end;
  background: url('/images/team-bg.png') center center/ cover no-repeat;
}

.team__block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50%;
  background: rgba($black, .9);
  padding: 6% 9% 6% 7%;
}

.team__title {
  margin-bottom: 4%;
}