/* map styles */

.map {
  // style="width: 100%; height: 90.8%
  width: 100%;
  height: 90.8%;

  @include phones {
    height: 88%;
  }
}

.map__item {
  display: flex;
  flex-direction: column;
  font-family: $Ubuntu;
  color: $black;
  height: auto;
}