/* nav styles */ 

.nav {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-family: $Ubuntu;
}

.nav {
  
  &__list {
    display: flex;
  }
  
  &__link {
    color: $white;
    text-align: left;
    font-size: 13px;
    margin-left: 15px;
    transition: all .2s;
    
    &::before {
      content: "•";
      margin-right: 15px;
    }
    
    &--disable::before {
      display: none;
    }
    
    &:hover {
      color: $orange;
    }
  }
}
